* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #222;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
    
}

.instagram-phone {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 80px;
    margin-right: 25px;
}

.instagram-phone img {
    height: 46rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 45%;
    min-height: 34rem;
    margin-bottom: 100px;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #111;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid gray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
    filter: invert(1);
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.get-app {
    color: white;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
   
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
    border-radius: 6px;
   
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* codigo add */
.box-btn-tema {
    display: flex;
    justify-content: end;
    width: 60%;
    height: 5vh;
}

#btn-tema {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100px;
    height: 20px;
    background-color: #fff;
    border-radius: 6px;
    justify-content: center;
    margin-top: 10px;
    font-size: 11px;
}

.prints {
    display: flex;
    position: absolute;
    margin-left: 95px;
    margin-top: 22px;
}

.prints img{
    width: 258px;
    height: auto;
    }

footer{
    height: 150px;
}

.rodape {
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.links-rodape {
    height: 16px;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
    color: gray;
}

.links-rodape p{
    font-size: 12px;
}

#idiomas {
    font-size: 12px;
    color: gray;
    border: 0;
    background-color: transparent;
    margin-top: 18px;
}

.direitos {
    margin-top: 20px;
}

/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #111;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}